.col-md-12
  = simple_form_for [@workout, @workout.items.build] do |f|
    .form-group
      = f.input :name, input_html: { class: "form-control" }
      = f.input :set, input_html: { class: "form-control" }
      = f.input :rep_time, input_html: { class: "form-control" }
    = f.submit "Submit", class: "btn btn-primary", data: {disable_with: "Submitting..."}
